<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ data.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ data.subtitle }}</h6>
        <ul class="list-group">
            <li *ngFor="let item of data.source"
                class="list-group-item"
                (click)="onItemClicked(item)"
            >
                {{ item.title }}
                <span *ngIf="item.lat && item.long">
                ({{ item.lat | number:'1.2-2' }}, {{ item.long | number:'1.2-2' }})
                </span>
            </li>
        </ul>
    </div>
</div>
