<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ source.id }} data</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ source.description }}</h6>
        <div *ngIf="source.loading$ | async" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <ul *ngIf="!(source.loading$ | async)" class="list-group">
            <li *ngFor="let item of source.data$ | async"
                class="list-group-item"
                (click)="clicked.emit(item)"
            >
                {{ item.title }}
                <span *ngIf="item.lat && item.long">
                ({{ item.lat | number:'1.2-2' }}, {{ item.long | number:'1.2-2' }})
                </span>
            </li>
        </ul>
    </div>
</div>
