<div class="main container">

    <div class="input-group mb-3">
        <input class="form-control"
               [(ngModel)]="searchQuery"
               placeholder="Type country, city or street here..."
        />

        <div class="btn-group input-group-append" dropdown>
            <button dropdownToggle
                    type="button"
                    class="btn btn-outline-primary dropdown-toggle"
                    style="border-radius: 0;">
            </button>
            <div *dropdownMenu class="dropdown-menu" role="menu">
                <span style="padding: 10px;"> Not implemented yet </span>
            </div>

            <button class="btn btn-outline-primary" (click)="onSearchBtnClick()">Let's search!</button>
        </div>
    </div>

    <tabset>
        <tab heading="Leaflet map">
            <leaflet-map #leafletMap [data]="data"></leaflet-map>
        </tab>

        <tab heading="Another map">
            <p> Nor implemented yet </p>
        </tab>

    </tabset>

    <br>

    <div class="row">
        <div *ngFor="let d of data" class="col-4">
            <app-data-card
                    [hidden]="!d || !(d.source | async)"
                    [data]="d"
                    (clicked)="onItemClick($event)"
            ></app-data-card>
        </div>
    </div>
</div>
