<div class="main container">

    <div class="input-group mb-3">
        <input class="form-control"
               [(ngModel)]="searchQuery"
               placeholder="Type country, city or street here..."
        />

        <div class="btn-group input-group-append" dropdown>
            <button dropdownToggle
                    type="button"
                    class="btn btn-outline-primary dropdown-toggle"
                    style="border-radius: 0;">
            </button>
            <div *dropdownMenu class="dropdown-menu" style="margin-left: 10px;">
                <div class="form-check" style="margin-left: 12px;" *ngFor="let source of sources; let i = index">
                    <input type="checkbox"
                           style="height: 16px; width: 16px;"
                           class="form-check-input"
                           id="exampleCheck{{i}}"
                           [(ngModel)]="source.enabled"
                    />
                    <label class="form-check-label"
                           for="exampleCheck{{i}}"
                    >
                        {{ source.id }}
                    </label>
                </div>
            </div>

            <button class="btn btn-outline-primary" (click)="onSearchBtnClick()">Let's search!</button>
        </div>
    </div>

    <tabset>
        <tab heading="Leaflet map">
            <leaflet-map #leafletMap [sources]="sources"></leaflet-map>
        </tab>

        <tab heading="Another map">
            <p> Nor implemented yet </p>
        </tab>

    </tabset>

    <br>

    <div class="row">
        <div *ngFor="let source of enabledSources" class="col-4">
            <app-data-card
                    [source]="source"
                    (clicked)="leafletMap.onItemExternalClick($event)"
            ></app-data-card>
        </div>
    </div>
</div>
